<ion-view title="Browse">
  <ion-content class="has-header">

<div class="list card"  ng-repeat="(index, dat) in data" >

<div >
    <div class="item item-image">
        <a ng-href="#/tab/browse/item/{{index}}"><img ng-src="{{dat[1]}}"></a>
    </div>

  <a class="item dark" ng-href="#/tab/browse/item/{{index}}">
      <span ng-bind-html="dat[0]"></span>
  </a>

</div>
</div>


</div>

  </ion-content>
</ion-view>
