<ion-view title="{{detail.title}}">
  <ion-content class="has-header">
    <div class="list card" ng-show="status">
  <div class="item item-body">
    <img class="full-image" ng-src="{{detail.thumbnail}}">
    <h1 ng-bind-html="detail.title"></h1>
    <span ng-bind-html="detail.content"></span>
  </div>
    <div style="background: #f8f8f8;" class="item item-icon-right dark" href="#">
        <div class="icon"><a class="tab-item m-margin-top" ng-click="url()">
            <img src="img/buybtn.png"  width="84" height="28" alt="Buy"/>
        </a></div>
        <a class="tab-item" >
            <p style="color:#000; width: 100px;">&#163;<span ng-bind-html="detail.custom_fields.price[0]"></span></p>
        </a>
    </div>
</div>
<br>
<div class="card" ng-hide="status">
    <div class="item item-text-wrap">
        <h1 style="text-align: center; color: #444" class="padding">We are sorry</h1>
        <p style="text-align: center" class="padding"><i class="ion ion-sad" style="font-size: 3.5em"></i></p><p style="text-align: center; color: #444" class="padding">Please check your internet connection or try again later.</p>
    </div>
</div>
  </ion-content>
</ion-view>
