<ion-view title="Search">
  <ion-content>
<div class="list">
<form>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
     <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="searchText">
    </label>
  </div>
</form>
    <div ng-repeat="(index, item) in data | filter: searchText">
    <a class="item" ng-href="#/tab/more/search/{{item.id}}">
        <span ng-bind-html="item.title"></span>
    </a>
</li>
</div>
</ion-content>
</ion-view>
