<ion-view title="Latest">
<ion-content class="has-header" >
<ion-list>
<ion-refresher
pulling-text="Pull to refresh..."
on-refresh="doRefresh()">
</ion-refresher>
<div class="list card" ng-repeat="(index, friend) in friends.posts" ng-show="status">

    <div class="item item-image">
        <a ng-href="#/tab/latest/{{index}}"><img ng-src="{{friend.thumbnail}}"></a>
    </div>

    <a class="item dark" ng-href="#/tab/latest/{{index}}">
        <span ng-bind-html="friend.title"></span>
    </a>


</div>

<div class="card" ng-hide="status">
    <div class="item item-text-wrap">
        <h1 style="text-align: center; color: #444" class="padding">We are sorry</h1>
        <p style="text-align: center" class="padding"><i class="ion ion-sad" style="font-size: 3.5em"></i></p><p style="text-align: center; color: #444" class="padding">Please check your internet connection or try again later.</p>
    </div>
</div>
</ion-content>
</ion-view>
