<ion-view title="More">
<ion-content class="has-header">
<!-- <ion-list>
<ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/popular/{{friend.id}}">
{{friend.name}}
</ion-item>
</ion-list> -->

<div class="list">

    <a class="item item-icon-left item-icon-right" href="#/tab/more/search">
        <i class="icon ion-search"></i>
        Search
        <i class="icon ion-ios7-arrow-right"></i>
    </a>
    <a class="item item-icon-left item-icon-right" ng-click="url()">
        <i class="icon ion-ios7-monitor"></i>
        Urbanaesthetics.co.uk
        <i class="icon ion-ios7-arrow-right"></i>
    </a>

</div>
</ion-content>
</ion-view>
