<ion-view title="Browse">
  <ion-content class="has-header">

<div class="list">

  <div class="item item-divider">
    List of categories
  </div>
  <div  ng-repeat="(index, dat) in data">
  <a class="item"  href="#/tab/browse/selected/{{index}}">
      <span ng-bind-html="dat"></span>
  </a>
  </div>


</div>

  </ion-content>
</ion-view>
