<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs ng-controller="RandomCtrl" class="tabs-striped tabs-icon-top tabs-background-dark tabs-color-stable">


  <!-- Latest Tab -->
  <ion-tab title="Latest" icon="icon ion-flag" href="#/tab/latest">
    <ion-nav-view name="tab-latest"></ion-nav-view>
  </ion-tab>


  <!-- Popular Tab -->
  <ion-tab title="Popular" icon="icon ion-heart" href="#/tab/popular">
    <ion-nav-view name="tab-popular"></ion-nav-view>
  </ion-tab>


  <!-- Random Tab -->
  <ion-tab title="Random" icon="icon ion-shuffle" href="#/tab/random" ng-click="checkTab()">
    <ion-nav-view name="tab-random"></ion-nav-view>
  </ion-tab>


  <!-- Browse Tab -->
  <ion-tab title="Browse" icon="icon ion-search" href="#/tab/browse">
    <ion-nav-view name="tab-browse"></ion-nav-view>
  </ion-tab>


    <!-- More Tab -->
  <ion-tab title="More" icon="icon ion-navicon-round" href="#/tab/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>


</ion-tabs>
