/* Custom CSS */

a.tab-item.m-margin-top {
margin-top: 1.5em;
}

/*
h1, .h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
	font-size:20px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    line-height: 1.2;
}*/

.buy {
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	padding:8px 0;
	height:50px;
}

.price {
	color:#000;
	font-weight:bold;
	float:left;
	font-size:16px;
	padding:6px 0 0 0;
}

.buybtn {
	height:32px;
	float:right;
}
